header{
    width: 100%;
    height: 40px;
    position: unset;
    padding: unset;
    .closeContainer{
        display: none;
    }
    nav{
        ul{
            flex-flow: row nowrap;
            justify-content: center;
            li{
                width: fit-content;
                &:hover{
                    background-color: unset;
                }
                a{
                    color: white;
                    text-decoration: none;
                    transition: 500ms;
                    &:hover{
                        color: gold;
                    }

                }
            }
        }
    }
}

.menuBtn{
  display: none; 
}



